{% load static %}
        <section id="header-slider" class="owl-carousel">
            <div class="item">
                <div class="container">
                    <div class="header-content">
                        <h1 class="header-title">ВКУСНАЯ ЕДА</h1>
                        <p class="header-sub-title">Чего ты хочешь по-настоящему?</p>
                    </div> <!-- /.header-content -->
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="header-content">
                        <h1 class="header-title">БОЛЬШОЙ ВЫБОР</h1>
                        <p class="header-sub-title">Выбор на любой вкус</p>
                    </div> <!-- /.header-content -->
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="header-content text-right pull-right">
                        <h1 class="header-title">ПРИЯТНЫЙ АЛКОГОЛЬ</h1>
                        <p class="header-sub-title">Сохраняйте воду - пейте вино</p>
                    </div> <!-- /.header-content -->
                </div>
            </div>
        </section>