{% extends "base.html" %}
{% load static %}

{% block checkout %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<!--Checkout-->
<section>
    <div>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Блюдо</th>
      <th scope="col">Аллергены</th>
      <th scope="col">Цена</th>
    </tr>
  </thead>
  <tbody>
  {% if flag == True %}
    {% for el in checks_list %}
    <tr>
      <th scope="row">{{ checks_list.id }}</th>
      <td>{{ checks_list.menu_title }}</td>
      <td>{{ checks_list.menu_allergens }}</td>
      <td>{{ checks_list.menu_price }}</td>
    </tr>
    {% endfor %}
  {% else %}
    <tr>
      <th scope="row">{{ checks_list.id }}</th>
      <td>{{ checks_list.menu_title }}</td>
      <td>{{ checks_list.menu_allergens }}</td>
      <td>{{ checks_list.menu_price }}</td>
    </tr>
  {% endif %}
  </tbody>
</table>
    </div>
<div class="col-md-12 col-sm-12">
    <a href="{% url 'home' %}">
        <button type="submit" id="submit" name="submit" class="btn btn-reservation">Вернуться обратно</button>
    </a>
</div>
<br>
<br>
<br>
</section>
{% endblock %}